.cardy{
    min-height: fit-content;
    background-color: black;
    width: 12rem;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: monospace;
    font-size: x-large;
    color: yellow;
  }
  .cardy img {
    object-fit: contain;
    max-height: 50%;
    max-width: 100%;
    object-position: top;
  }
  
  .cardy:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in;
    color: red;
  }
  